# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyi

# Django
*.log
*.pot
*.pyc
local_settings.py

# Static files
staticfiles/
assets/

# IDEs
.idea/
.vscode/

# Environments
venv/
env/
env*/
ENV*/
env.bak*/

# OS files
.DS_Store
Thumbs.db

# Testing
.coverage
.tox/
nosetests.xml
htmlcov/
coverage_html_report/

env_webdata/

# whitelist authority/api/*
!authority/api/